In [204]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import requests
from sqlalchemy import create_engine
from credentials import user
from credentials import password
from credentials import server

In [205]:
biz_df = pd.read_csv('../data/businesses.csv')

In [206]:
hub_df = pd.read_csv('../data/hubNashville__311__Service_Requests.csv', low_memory=False)

In [207]:
hub_df['Date / Time Opened'] = pd.to_datetime(hub_df['Date / Time Opened'])

In [208]:
hub_df['Date / Time Closed'] = pd.to_datetime(hub_df['Date / Time Closed'])

In [209]:
hub_df = hub_df.rename(columns = {'Date / Time Opened': 'date_opened', 'Date / Time Closed' : 'date_closed'})

In [210]:
hub_covid_df = hub_df.loc[hub_df['Subrequest Type'] == 'COVID-19 Violations']

In [211]:
hub_covid_df.loc[:, 'Day'] = hub_covid_df['date_opened'].dt.day
hub_covid_df.loc[:, 'Month'] = hub_covid_df['date_opened'].dt.month

C:\Users\Kyle\.conda\envs\geospatial\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Kyle\.conda\envs\geospatial\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [212]:
hub_covid_df.loc[:, 'Resolution Time'] = hub_covid_df['date_closed'] - hub_covid_df['date_opened']

In [213]:
hub_covid_df['date_closed'].max()

Timestamp('2020-11-13 15:38:52')

In [214]:
total_covid_req = hub_covid_df.shape[0]

##Make all na values in time columns NaT
t = hub_covid_df.select_dtypes(include=['datetime', 'timedelta'])
hub_covid_df.loc[:, t.columns] = t.fillna(pd.NaT)
##Make all na values in number columns NaN
n = hub_covid_df.select_dtypes(include='number')
hub_covid_df.loc[:, n.columns] = n.fillna(np.nan)

hub_w_loc = hub_covid_df.loc[hub_covid_df['Latitude'].notna()]
hub_w_phone = hub_covid_df.loc[hub_covid_df['Request Origin'] == 'Phone']
req_w_loc = hub_w_loc.shape[0]
req_from_ph = hub_w_phone.shape[0]
print(str(round(100 * (req_w_loc / total_covid_req), 2)) + ' percent of Hub Nashville requests about COVID-19 have associated locations.')
print(str(round(100 * (req_from_ph / total_covid_req), 2)) + ' percent of Hub Nashville requests about COVID-19 made via phone call.')

97.65 percent of Hub Nashville requests about COVID-19 have associated locations.
25.0 percent of Hub Nashville requests about COVID-19 made via phone call.

C:\Users\Kyle\.conda\envs\geospatial\lib\site-packages\pandas\core\indexing.py:1717: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [215]:
groupd_restime = hub_covid_df.groupby('Month')['Resolution Time'].agg(lambda x: x.mean())

In [216]:
## Resolution time only takes into account the length of closed requests
mean_resolution_time = np.mean(hub_covid_df['Resolution Time'])
print(groupd_restime.head(10))
print('\n')
print(mean_resolution_time)

Month
3    10 days 11:14:16.714285714
4     4 days 22:04:56.931846344
5     1 days 14:31:44.762261580
6     1 days 08:37:26.482882882
7     1 days 13:07:33.708698830
8     1 days 05:49:41.911499096
9     1 days 07:44:00.119359534
10    1 days 07:26:42.354948805
11    1 days 03:06:37.990506329
Name: Resolution Time, dtype: timedelta64[ns]


2 days 03:19:17.141300675

In [217]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')
print(zipcodes.crs)

epsg:4326

In [218]:
geo_hub = gpd.GeoDataFrame(hub_w_loc, crs = zipcodes.crs, geometry=gpd.points_from_xy(hub_w_loc['Longitude'], hub_w_loc['Latitude']))
print(geo_hub.crs)

epsg:4326

In [219]:
zipcodes = zipcodes[['zip', 'po_name', 'geometry']]
req_by_zip = gpd.sjoin(geo_hub, zipcodes, op='within')

In [220]:
req_by_zip['zip'].value_counts()

37203    1258
37211     877
37209     753
37207     645
37214     614
37115     595
37221     587
37201     561
37013     491
37219     473
37204     473
37076     458
37217     385
37210     350
37215     341
37206     314
37216     291
37205     278
37208     247
37138     218
37072     212
37218     171
37212     162
37228     112
37027      54
37213      48
37080      43
37189      27
37220      21
37240      13
37232      13
37086      11
37135       5
Name: zip, dtype: int64

In [221]:
##Get a list of Nashville zips
zips = req_by_zip['zip'].unique().tolist()

In [222]:
##Bring in population data by zip code from census
census_url = 'https://api.census.gov/data'
year = '2018'
dataset = 'acs/acs5'
base_url = '/'.join([census_url, year, dataset])
get_tract_vars = ['B01003_001E']
get_tract_vars = ["NAME"] + get_tract_vars
predicates = {}
predicates['get'] = ','.join(get_tract_vars)
predicates['for'] = 'zip code tabulation area:*'  ## zctas
request = requests.get(base_url, params=predicates)
col_names = ['NAME', 'Population', 'zip']
census_df = pd.DataFrame(columns=col_names, data=request.json()[1:])

In [224]:
census_df = census_df.astype({'zip': 'int64', 'Population': 'int64'})
req_by_zip = req_by_zip.astype({'zip': 'int64'})
##Reduce to Nashville zips only
census_nash_zips = census_df.loc[census_df['zip'].isin(zips)]
##Remove extra column
census_nash_zips = census_nash_zips[['Population', 'zip']]

In [225]:
##Merge population with requests
req_by_zip_pop = req_by_zip.merge(census_nash_zips, on='zip' )
req_num = pd.DataFrame(req_by_zip_pop.groupby('zip').size())
##Merge in population again on the grouped df
req_num_pop = req_num.merge(census_df, on='zip')
req_num_pop.rename(columns={0: 'Number of Requests'}, inplace=True)
req_num_pop_int = req_num_pop.astype({'Population': 'int64'})
req_num_pop_int.loc[:, 'Req Per Pop'] = req_num_pop_int['Number of Requests'] / req_num_pop_int['Population']
req_num_pop_int.sort_values('Req Per Pop')

      zip  Number of Requests         NAME  Population  Req Per Pop
5   37086                  11  ZCTA5 37086       34223     0.000321
7   37135                   5  ZCTA5 37135       12380     0.000404
1   37027                  54  ZCTA5 37027       55130     0.000980
28  37220                  21  ZCTA5 37220        5763     0.003644
0   37013                 491  ZCTA5 37013       97819     0.005019
4   37080                  43  ZCTA5 37080        7349     0.005851
2   37072                 212  ZCTA5 37072       32033     0.006618
9   37189                  27  ZCTA5 37189        3801     0.007103
20  37212                 162  ZCTA5 37212       21031     0.007703
8   37138                 218  ZCTA5 37138       24229     0.008997
13  37205                 278  ZCTA5 37205       24785     0.011216
26  37218                 171  ZCTA5 37218       15198     0.011251
19  37211                 877  ZCTA5 37211       76834     0.011414
3   37076                 458  ZCTA5 37076       38957     0.011757
14  37206                 314  ZCTA5 37206       25470     0.012328
25  37217                 385  ZCTA5 37217       31218     0.012333
16  37208                 247  ZCTA5 37208       17582     0.014048
29  37221                 587  ZCTA5 37221       40425     0.014521
6   37115                 595  ZCTA5 37115       40484     0.014697
23  37215                 341  ZCTA5 37215       22414     0.015214
24  37216                 291  ZCTA5 37216       18609     0.015638
31  37240                  13  ZCTA5 37240         778     0.016710
15  37207                 645  ZCTA5 37207       38583     0.016717
17  37209                 753  ZCTA5 37209       38794     0.019410
18  37210                 350  ZCTA5 37210       17935     0.019515
22  37214                 614  ZCTA5 37214       30151     0.020364
12  37204                 473  ZCTA5 37204       14768     0.032029
11  37203                1258  ZCTA5 37203       14232     0.088392
30  37228                 112  ZCTA5 37228        1206     0.092869
10  37201                 561  ZCTA5 37201        1372     0.408892
27  37219                 473  ZCTA5 37219        1134     0.417108
21  37213                  48  ZCTA5 37213         100     0.480000

In [ ]:
engine = create_engine("postgres+psycopg2://nss_user:nssAWS2020@nyt-covid-1.csdmctdmvs7t.us-east-1.rds.amazonaws.com:5432/covid_data")

In [ ]:
engine = create_engine("postgres+psycopg2://" + user + ":" + password + "@" + server + ":5432/covid_data")

In [ ]:
counties_df = pd.read_sql("select * from counties;", con=engine)

In [ ]:
counties_df.head()